.cart-container {
  max-width: 900px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}


.cart-stack {
  width: 100%;
  max-width: 100%;
}


.cart-item {
  width: 100%; 
  max-width: 95%; 
  display: flex;
  flex-direction: row;
  padding: 16px;
  gap: 20px;
  border-bottom: 1px solid #ddd;
  margin-right:  auto; 

}


.cart-item-image {
  width: 100%;
  max-width: 120px;
  height: auto;
  max-height: 120px;
  border-radius: 8px;
  object-fit: cover;
}

.cart-item-details {
  flex-grow: 1;
  position: relative;
  width: 100%;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
}

@media (max-width: 430px) {
  .cart-container {
    width: 95%;
    padding: 16px;
    margin-left: auto; 
    margin-right: auto
  }

  .cart-item {
    width:  100%;
    max-width: 90%;
    padding: 12px;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .cart-item-image {
    width: 100%;
    height: auto;
    max-height: 120px;
    border-radius: 8px;
    object-fit: cover;
  }
}


